onebusaway-gtfs-realtime-api

  The {{{http://code.google.com/transit/realtime/}GTFS-realtime}} specification defines a standard for exchanging
real-time public transit information in a machine-readable way.  The core of the specification is Protocol Buffer
definition defining the various data types that make up a GTFS-realtime feed.

  While Protocol Buffers are designed to be language agnostic, language-specific bindings are typically generated to
read or write a buffer using a specific language.  We provide a simple Java library of the classes produced when the
{{{http://code.google.com/transit/realtime/}GTFS-realtime}} protobuf is compiled for Java.

  You can use the library in a number of ways:

#set( $url = 'http://nexus.onebusaway.org/service/local/artifact/maven/content?r=public&g=org.onebusaway&a=onebusaway-king-county-metro-gtfs&v=' + ${currentVersion} )

  * Download the jar directly: {{{${url}}onebusaway-gtfs-realtime-api.jar}}

  * Using a Maven dependency: 
 
+---+
<dependency>
  <groupId>org.onebusaway</groupId>
  <artifactId>onebusaway-gtfs-realtime-api</artifactId>
  <version>${currentVersion}</version>
</dependency>
+---+