Release Notes

* ${currentVersion}

  * Full Documentation: {{${site_base_url}/onebusaway-gtfs-modules/${currentVersion}/}}
  
* 1.0.0

  * Initial release

  * Full Documentation: {{${site_base_url}/onebusaway-gtfs-modules/1.0.0/}}