Release Notes

* ${currentVersion}

  * Full Documentation: {{${site_base_url}/onebusaway-gtfs-realtime-api/${currentVersion}/}}
  
* 1.0.2

  * Add a number of OneBusAway-specific extensions:
  
    * FeedEntity.source
    
    * TripUpdate.delay
    
    * TripUpdate.timestamp

  * Full Documentation: {{${site_base_url}/onebusaway-gtfs-realtime-api/1.0.2/}}

* 1.0.1

  * Updated to include protocol buffer extension points. 

  * Full Documentation: {{${site_base_url}/onebusaway-gtfs-realtime-api/1.0.1/}}
  
* 1.0.0

  * Initial release

  * Full Documentation: {{${site_base_url}/onebusaway-gtfs-realtime-api/1.0.0/}}